//Tablet styles

/***************************************/
/*********** INPUTS/BUTTONS ************/
/***************************************/
.filters {
  flex-direction: row;
  margin-left: -5px;
  margin-right: -5px;
}
.formDiv {
  width: calc(100% / 3);
  margin:5px;
}